* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --background: white;
    --text: #BB99DD;
}

.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10vh;
    gap: 10px;
}

body {
    background-color: var(--background);
}

.fotodeperfil {
    width: 200px;
    height: 200px;
    border: 2px solid var(--text);
    border-radius: 50%;
    padding: 5px;
}

.nome {
    font-weight: 400;
    font-size: 18px;
    color: var(--text);
    text-align: center;
}

.descricao {
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    text-align: center;
}

.retangulo {
    box-sizing: border-box;
    width: 326px;
    height: 49px;
    border: 2px solid var(--text);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.link {
    text-decoration: none;
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
}

.retangulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social {
    display: flex;
    gap: 25px;
    padding: 40px 5px;
}

.dark {
    color: var(--text);
    border: 2px solid var(--text);
    padding: 10px 30px;
    border-radius: 4px;
}

.dark:hover {
    background-color: mediumpurple;
}