* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: white;
    --text: red;
}

.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10vh;
    gap: 10px;
}

body {
    background-color: var(--background);
}

.fotodeperfil {
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 50%;
    padding: 5px;
}

.nome {
    font-weight: bold;
    font-size: 24px;
    color: var(--text);
    text-align: center;
    font-family: Arial;
}

.descricao {
    font-weight: 400;
    font-size: 14px;
    color: red;
    text-align: center;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

table,
th,
td {
    border: 3px solid red;
    border-collapse: collapse;
    padding: 20px 45px;
    color: #5C7CFA;
    font-size: 20px;
}

.esporte {
    background-image: url(assets/futebol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.comida {
    background-image: url(assets/comida.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.filme {
    background-image: url(assets/filme.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.social {
    display: flex;
    gap: 25px;
    padding: 40px 5px;
}

.dark {
    color: var(--text);
    border: 2px solid var(--text);
    padding: 10px 30px;
    border-radius: 4px;
}

.dark:hover {
    background-color: mediumpurple;
}